# Path

In [1]:
!pwd

/Users/sobhan.ahmadian.moghadam/PycharmProjects/MLMDA/notebooks/explorary

In [2]:
cd ..

/Users/sobhan.ahmadian.moghadam/PycharmProjects/MLMDA

# Requirements

In [3]:
import pandas as pd

/var/folders/c7/mxl13hss42v_7bgjn9msq3fh0000gn/T/ipykernel_22912/2035458946.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

# Entities

In [4]:
from src.features import get_entities

get_entities().head()

         type         name  id
0    Compound  CHEBI:74510   0
1        Gene        10584   1
2  Metabolite  HMDB0075603   2
3        Gene        79134   3
4     Disease   DOID:12306   4

# Relation Types

In [5]:
from src.features import get_relation_types

get_relation_types().head()

                               type                name  id
0  VMH:metabolite-disease:Decreased  metabolite:disease   0
1                           GNBR:Ud        Gene:Disease   1
2                            GNBR:L        Gene:Disease   2
3                           GNBR:Pa    Compound:Disease   3
4  VMH:metabolite-disease:Increased  metabolite:disease   4

# Associations

In [6]:
from src.features import get_associations

get_associations().head()

   disease  microbe  increased
0    50863    33211          1
1    43621    40832          1
2    33293    47880          1
3    13213    53186          1
4    33293    14909          1

# Relations

In [7]:
from src.features import get_relations

get_relations().head()

    head  relation   tail
0  37448        17  41929
1  41929        17  37448
2  45065        17  41929
3  41929        17  45065
4  50858        17  41929